
*{
margin: 0;
padding: 0;
}

#nav{
    width: 100%;
    height: 30px;
    background-color: RGB(51,51,51);

}
#nav-bar{
    width: 1100px;
    height: 30px;
    margin: auto;
}
#nav-bar>ul>li{
    list-style: none;
    display: inline-block;
     padding: 5px;

}
#nav-bar>ul>section{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: gray;
    opacity: 0.5;
}
#nav-bar>ul a{
     text-decoration: none;
     font-size: 12px;
     color: RGB(190,190,190);
 }
#nav-bar>ul a:hover{
    color:white;
}

.nav-bar-right>a{
     padding: 5px;
    line-height: 35px;
    }
/*在nav-bar 里面有两个ul  一个左浮动，一个右浮动*/
#nav-bar>ul{
    margin: 0;
}
#nav-bar>ul:nth-of-type(1){
    float: left;
}
#nav-bar>ul:nth-of-type(2){
float: right;
 }
/*米字型图片*/

#nav-mi{
    /*background-color: pink;*/
    width: 1100px;
    height: 70px;
    margin: 20px auto;
    clear: both;
}
#nav-mi>img{
    width: 70px;
    height: 70px;
    display: inline-block;
    float: left;
}
/*下拉菜单*/
#nav-mi-wrap{
    margin-top: 30px;
}
#nav-mi-wrap a{
display: inline-block;
margin: 15px 5px 25px 5px;
    color: black;
    font-size: 16px;
}
ul{
    margin: 0;
    list-style-type: none;
}
#nav-mi-wrap>ul{
    height: 50px;
    line-height: 40px;
    width: 700px;
    margin: auto;
}
#nav-mi-wrap>ul ul{
    width: 100% ;
    height: 200px;
    position: absolute;
    left: 0;
      box-shadow: 0px 0px 2px gray;
    background-color: white;
    margin: 0;
    padding: 0;
    display: none;
}
#nav-mi-wrap>ul>li>ul>li{
    float: left;
    margin: 20px;
}
#nav-mi-wrap>ul>li{
    float: left;
    text-align: center ;
}
#nav-mi-wrap figure{
   float: left;
    margin-top: 20px;
}
figure figcaption{
    height: 18px;
}
/*搜索栏*/
.input-group{
    position: relative;
    bottom: 35px;
}
.input-group>.form-control,.btn{
    height: 45px;
}
#formControl{
    width: 60%;
    position: relative;
    left: 130px;
}
